---
/** eslint-disable astro/jsx-a11y/label-has-associated-control */
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import { Accordion, AccordionItem, Card } from 'accessible-astro-components'
import ContactForm from '../components/ContactForm.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Nuestros Productos</h2>
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-2">
        <Feature title="Acadsuite.com">
          Página de información y registro para nuevos clientes
          <div class="flex justify-end">
            <button class="rounded">Leer Más</button>
          </div>
        </Feature>
        <Feature title="Acadsuite.co">
          La gestión administrativa
          <div class="flex justify-end">
            <button class="rounded">Leer Más</button>
          </div>
        </Feature>
        <Feature title="Acadsuite.pro">
          La herramienta del docente
          <div class="flex justify-end">
            <button class="rounded">Leer Más</button>
          </div>
        </Feature>
        <Feature title="Acadsuite.homes">
          La comunicacón con el hogar
          <div class="flex justify-end">
            <button class="rounded">Leer Más</button>
          </div>
        </Feature>
      </div>
    </div>
  </section>

  <div class="container">
    <h2 class="text-center text-6xl">¡Brindamos soluciones a la medida de tu empresa!</h2>
  </div>
  <ContentMedia imgSrc="/codin.jpg">
    <p class="text-2xl">
      ¿Tienes dificultades con tu software o necesitas uno? Somos Soluciones en la nube Xarasoft SAS. Posibilitamos la
      buena gestión y control de los procesos en las organizacionesn mediante el desarrollo de ágiles sistemas de
      información, incorporando efectivas estrategias al usuario, brindando la mayor seguridad en el manejo de sus
      datos.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/IMG_5902.jpeg" reverseImg={true}>
    <p class="text-2xl">
      Using semantic HTML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
      navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain of
      reaching WCAG AA compliance.
    </p>
  </ContentMedia>
  <section class="container my-32">
    <h2 class="my-32 text-center text-6xl">Preguntas Frecuentes</h2>
    <Accordion>
      <AccordionItem header="First Item">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo accusantium
          debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod veritatis laboriosam
          est tenetur.
        </p>
        <a href="#">Tab to me!</a>
      </AccordionItem>
      <AccordionItem header="Second Item">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo accusantium
          debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod veritatis laboriosam
          est tenetur.
        </p>
      </AccordionItem>
      <AccordionItem header="Third Item">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo accusantium
          debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod veritatis laboriosam
          est tenetur.
        </p>
      </AccordionItem>
      <AccordionItem header="Fourth Item">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo accusantium
          debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod veritatis laboriosam
          est tenetur.
        </p>
      </AccordionItem>
      <AccordionItem header="Fifth Item">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi nobis optio? Qui in quo accusantium
          debitis sapiente obcaecati magnam incidunt sit. Molestiae exercitationem quibusdam quod veritatis laboriosam
          est tenetur.
        </p>
      </AccordionItem>
    </Accordion>

    <!-- FORMULARIO DE CONTACTO -->
    <h2 class="my-32 text-center text-6xl">¡Solicita un demo!</h2>
    <ContactForm />

    <div class="my-32 grid sm:grid-cols-1 md:grid-cols-2">
      <Card url="/link-to-my-post" img="../../public/interactividad.webp" title="Interactividad" footer="">
        Dinamice los procesos entre las dependencias de su empresa. Las gestiones administrativas y operativas
        encuentran con los datos en la nube un vínculo de comunicación de datos de texto, sonido y video dado el entorno
        multimedia de nuestras soluciones.
      </Card>
      <Card url="/link-to-my-post" img="../../public/seguridad.webp" title="Seguridad" footer="">
        Las aplicaciones son descargables e instalables; el cliente controla y aprueba el número de instalaciones de una
        aplicación en su plataforma.
      </Card>
    </div>

    <div class="my-32 grid gap-8 sm:grid-cols-1 md:grid-cols-3">
      <Card url="/link-to-my-post" img="../../public/respaldo.webp" title="Respaldo" footer="">
        Siempre tendrá acceso a su información sin importar las circunstancias, gracias a las copias seguridad que se
        guardan automáticamente
      </Card>
      <Card url="/link-to-my-post" img="../../public/actualizaciones.webp" title="Actualizaciones" footer="">
        Nos esmeramos en mantener actualizadas nuestras plataformas para brindarle la mayor seguridad frente a las
        amenazas que hay en la web.
      </Card>
      <Card url="/link-to-my-post" img="../../public/economia.webp" title="Economía" footer="">
        Manejamos productos que se acomodan a todos los presupuestos
      </Card>
    </div>

    <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
      <Counter count="520" title="Stars" sub="On GitHub" />
      <Counter count="17" title="Accessible" sub="Components" />
      <Counter count="500" title="Commits" sub="Merged" />
      <Counter count="18+" title="Months" sub="Since launch" />
    </div>
  </section>
</DefaultLayout>
