---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Xarasoft. Made with ❤️ by <a
          href="https://github.com/jeronimomayorca">Jeronimo Mayorca</a
        >.
      </p>
    </div>
  </section>
</footer>
