---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item px-3">
      <a href="/">Inicio</a>
    </li>
    <li class="menu-item px-3">
      <a href="/blog/">Nuestros Productos</a>
    </li>
    <li class="menu-item has-dropdown px-3">
      <button aria-haspopup="true" aria-expanded="false">Ingresa a las plataformas</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="https://acadsuite.co" target="_blank">acadsuite.co</a>
        </li>
        <li class="submenu-item">
          <a href="https://acadsuite.com" target="_blank">acadsuite.com</a>
        </li>
        <li class="submenu-item">
          <a href="https://acadsuite.pro" target="_blank">acadsuite.pro</a>
        </li>
        <li class="submenu-item">
          <a href="https://acadsuite.homes" target="_blank">acadsuite.homes</a>
        </li>
      </ul>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        height: auto;
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
