---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item px-3 back">
      <a href="/">Inicio</a>
    </li>
    <li class="menu-item px-3">
      <a href="/blog/">Nuestros Productos</a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [data-icon] {
        height: auto;
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
        }
      }

      &:hover {
        [data-icon] path {
          fill: var(--action-color-state);
        }
      }
    }

    background-color: rgba(255, 255, 255, 0); // Fondo completamente transparente
    position: fixed; // Para que el navbar se mantenga en la parte superior
    top: 0;
    width: 100%;
    z-index: 1; // Asegura que el navbar esté encima del contenido de fondo
    padding: 1rem; // Ajusta el padding si es necesario

    // Agrega una transición suave si quieres un efecto al hacer hover o scroll
    transition: background-color 0.3s ease;
  }

  // Estilos para el navbar transparente
  .navbar {
    background-color: rgba(255, 255, 255, 0); // Fondo completamente transparente
    position: fixed; // Para que el navbar se mantenga en la parte superior
    top: 0;
    width: 100%;
    z-index: 1000; // Asegura que el navbar esté encima del contenido de fondo
    padding: 1rem; // Ajusta el padding si es necesario

    // Agrega una transición suave si quieres un efecto al hacer hover o scroll
    transition: background-color 0.3s ease;

    // Ejemplo de estilo para el texto y los enlaces del navbar
    a {
      color: #ffffff; // Ajusta el color del texto para que sea visible sobre el fondo
      text-decoration: none;

      &:hover {
        color: #ddd; // Color más claro al pasar el cursor
      }
    }
  }

  // Opción para hacer que el fondo se vuelva semitransparente al hacer scroll
  body.scrolled .navbar {
    background-color: rgba(255, 255, 255, 0.1); // Fondo con un poco de opacidad al hacer scroll
  }
</style>
