---

---

<section class="hero code-background">
  <div class="container">
    <div class="items-center">
      <div class="flex flex-col">
        <h1 class="text-center text-6xl lg:text-8xl mt-52">
          <slot>Soluciones en la nube <span class="text-gradient">XaraSoft</span></slot>
        </h1>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, #60c5c1 25%, #3e48cc 75%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .code-background {
    width: 100%;
    height: 100vh;
    background-image: url('/public/code.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    
  }
</style>
